body {
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-right: 1rem;
}

.container {
  width: 90vw;
  margin: auto;
}

section {
  margin-top: 1rem;
}

/* search container styles */
.search-container {
}

/*disable activity type select by default*/
.type-disabled {
  pointer-events: none;
}

/* activity search result styles */
.activity-list-container {
  padding: 0;
  margin: 1rem auto;
}

.activity-list-container li {
  text-align: left;
  list-style: none;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
}

.activity-list-container li:hover {
  cursor: pointer;
  background-color: lightgrey;
}

/* activity display styles*/
span {
  font-weight: bold;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.address-container p {
  margin: 0;
  line-height: 1.5rem;
}

.times p {
  margin: 0;
  line-height: 1.5rem;
}

.transport-container h4,
.transport-container p {
  margin: 0;
  line-height: 1.5rem;
}

/* postcode search form*/
form {
  background-color: lightgray;
  padding: 1rem;
}

form p {
  margin: 0 0 1rem 0;
}

.postcode-search {
  display: flex;
  justify-content: space-around;
}

.postcode-search input {
  margin-right: 0.5rem;
}

.postcode-search input[type="text"] {
  margin-left: 0.5rem;
  width: 4.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80vw;
  }

  .search-container,
  form {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60vw;
  }

  .search-container,
  form {
    width: 60%;
  }
}
